include seriesfinale
include Makefile
include AUTHORS
include README
include MANIFEST.in
recursive-include data *
recursive-include locale *
recursive-include po *
recursive-include debian changelog  compat  control  copyright  files  rules seriesfinale.postinst